@import url('https://fonts.googleapis.com/css?family=Lato');

*{
    font-family: Lato,sans-serif;
}
#telon{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:linear-gradient(180deg,#c0c0c0, #616161);
    z-index: -1;
}

main{
    width:500px;
    margin:3em auto;
    font-size:1.3em;
}
h1{
    text-align: center;
    background-color: #ea4f56;
    margin:0;
    color:white;
    border-radius: 20px 20px 0 0;
    padding:.3em 0;
    font-weight: normal;
    font-size:1.5em;
}
#formulario{
    background-color: white;
    padding:2em 1em;
    border-radius:0 0 20px 20px;
}
input,button,a{
    width:100%;
    border:none;
    outline:none;
}

a{
    display:inline-block;
    text-decoration: none;
    text-align: center;
}
input{
    background-color: #e3e3e3;
    font-size:1.2em;
}
input:focus{
    background-color: #e1e3b7;
}

button,a{
    background-color: #5cc77d;
    color:white;
    font-size:1.3em;
}
button:hover,a:hover{
    background-color: #4ca467;
}
#error{
    background-color:#ea4f56;
    color:white;
}