body{
    font-family: Arial,sans-serif;
}

#fondo{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    background-image: url(../img/oro.jpg);
    -webkit-background-size:cover;
    background-size:cover;
    z-index:1;
}

#capa{
    position:absolute;
    width:700px;
    height:300px;
    left:50%;
    top:50%;
    text-align:center;
    margin-left:-350px;
    margin-top:-150px;
    background-color:rgba(0,0,0,.5);
    border-radius:10px;
    color:white;
}

h1{
    font-family: Arial,sans-serif;
    margin:0;
    font-size:1.2em;
    color:white;
    background-color:gray;
    padding:1em 0;
    margin-bottom:1em;
    border-top-left-radius: 5px;
    border-top-right-radius: 10px;
}

table{
    margin:auto;
}
td{
    text-align: left;
}
button,a{
    display:inline-block;
    width:50%;
    height:40px;
    outline:none;
    border:none;
    background-color: lightgray;
    color:black;
    margin-top:2em;
    border-radius: 5px;
    text-decoration: none;
    vertical-align: middle;
}
a{
    padding-top:1em;
}
button:hover,a:hover{
    background-color:white;
}

input{
    color:white;
    border:2px solid white;
    background-color: transparent;
    outline:none;
    font-size:1.5em;
    border-radius: 5px;
}

input:focus{
    background-color: white;
    color:black;
}

#error{
    position: fixed;
    left:0;
    width:100%;
    top:0;
    background-color:red;
    color:white;
    font-weight: bold;
    text-align: center;
    display:none;
    z-index:100;
    padding:0;
}
p{
    margin:0;
    padding-top:5px;
}

.azul td{
    color: #b0d2ff;
}
.blanco td{
    color:white;
}.rojo td{
    color: #ff9981;
}

 .resultados{
     margin:5em 0 0 1em;
 }