footer{
    position:fixed;
    left:0;
    bottom:0;
}

#imagen{
    position:fixed;
    z-index:100;
    width:500px;
    height:500px;
    left:50%;
    top:50%;
    margin-left:-250px;
    margin-top:-250px;
}

#imagen img{
    width:100%;
    height:100%;
}